# Environment
.env
*.env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data & Models
data/raw/
data/bronze/
models/*.pkl
models/*.joblib

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# MLflow
mlruns/
mlartifacts/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE
.idea/
.vscode/
*.iml

# Docker
*.log

# OS
.DS_Store
Thumbs.db